html{
	background-image: url('images/drums.jpg');
	background-size: cover;
	font-size:13px;
}


body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys{
	display: flex;
	flex: 1;
	min-height:  100vh;
	align-items: center;
	justify-content: center;
	padding-left: 10rem;
	padding-right: 10rem;
}

.key{
	border: .2rem solid black;
	margin: 1rem;
	font-size: 1rem;
	padding: 1rem ;
	transition:  all 0.07s ease;
	width: 10rem;
	text-align: center;
	color: white;
	background: rgba(0,0,0,0.4);
	text-shadow: 0 0 .5rem black;
}
.playing{
transform:  scale(1.1);
border-color: #ffc600;
box-shadow: 0 0 1rem #ffc600;
}

kbd{
	display: block;
	font-size: 20px;
}

.sound{
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	color: #ffc600;
}